@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dde3fb;
  
}

/* thin scrollbars for internal panels */
.thin-scroll::-webkit-scrollbar {
  width: 6px;
}
.thin-scroll::-webkit-scrollbar-thumb {
  background: #c9c8e6;
  border-radius: 999px;
}
